name: Run Azure Login with OpenID Connect and PowerShell
on: [push]

permissions:
      id-token: write
      contents: read
      
jobs: 
  build-solution:
      runs-on: windows-latest
      steps:
        - name: Build solution s
          uses: actions/checkout@v4.1.1
        - name: Setup .NET Core SDK 8.0
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 8.0.x
    
        - name: Restore packages
          run: dotnet restore

        - name: Build app
          run: dotnet build --configuration Release --no-restore

        - name: Test app
          run: dotnet test --no-build
          
  Windows-latest:
      runs-on: windows-latest
      steps:
        - name: OIDC Login to Azure Public Cloud with AzPowershell (enableAzPSSession true)
          uses: azure/login@v1
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
            enable-AzPSSession: true

        - name: 'Get resource group with PowerShell action'
          uses: azure/powershell@v1
          with:
             inlineScript: |
               Get-AzResourceGroup
             azPSVersion: "latest"
